
<main>
   <div class="conteiner">
    <p>box1</p> 
   </div> 
   <div class="conteiner">
    <p>box2</p> 
   </div>
   <div class="conteiner">
    <p>box3</p> 
   </div>
   <div class="conteiner">
    <p>box4</p> 
   </div>
   <div class="conteiner">
    <p>box5</p> 
   </div>
   <div class="conteiner">
    <p>box6</p> 
   </div>

   <button class="btn" id="btnScroll">
    <img src="/svg/scroll-arrow.svg" alt="scroll">
   </button>
</main>
