{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	{{!-- {{>heading title="NAV" info=data.test}} --}}

    <nav class="nav">
        <button class="nav__btn" id="back">
            <img src="/svg/Arrow_back.svg" width="25" alt="back">
        </button>

         <button class="nav__btn" id="forward">
            <img src="/svg/Arrow_forward.svg" width="25" alt="forward">
        </button>

         <button class="nav__btn" id="reload">
            <img src="/svg/update.svg" width="25" alt="update">
        </button>

         <button class="nav__btn" id="home">
            <img src="/svg/home.svg" width="25" alt="home">
        </button>
             
        <input type="text" class="nav__input" id="input">

        <button class="nav__btn" id="go">
                <img src="/svg/Play-go.svg" width="25" alt="go">
    </nav>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}